{% extends "::admin.html.twig"%}

{% block title %}Acme\Bundle\UserBundle:login{% endblock %}

{% block body %}
<form action="{{ path('acme_user_addroles',{'id':1}) }}" method="POST">
{% for key,role in addrole %}
            <tr>
                {% if checked_roles[key].ItemName is defined %}
				<td><input type="checkbox" id="subscribeNews" name="subscribe[{{ key }}]" value={{ role.ItemName }} checked='checked'>{{ role.ItemName }}</td>
				{% else %}
				<td><input type="checkbox" id="subscribeNews" name="subscribe[{{ key }}]" value={{ role.ItemName }}>{{ role.ItemName }}</td>
				{% endif %}
            </tr>
			<br />
        {% endfor %}
		<button class="btn btn-info pull-right" name="submit" type="submit">Change</button>
</form>
{% endblock %}